In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

from rtb.datasets.fake import FakeProductDataset

In [5]:
ds = FakeProductDataset(root="../../data", process=True)

processing db...
processing db took 0.00 seconds.
reindexing pkeys and fkeys...
reindexing pkeys and fkeys took 0.00 seconds.
saving table product...
done in 0.00 seconds.
saving table customer...
done in 0.00 seconds.
saving table review...
done in 0.00 seconds.

In [6]:
db = ds._db

In [7]:
db.tables["product"]

Table(df=
    product_id       category    title     price
0            0           None  title_1  2.805066
1            1             []  title_2  3.572515
2            2  [toy, health]  title_3  9.536285
3            3           None  title_1  7.892769
4            4             []  title_2  7.939176
5            5  [toy, health]  title_3  5.600530
6            6           None  title_1  2.623404
7            7             []  title_2  7.499772
8            8  [toy, health]  title_3  4.886093
9            9           None  title_1  3.392486
10          10             []  title_2  1.634771
11          11  [toy, health]  title_3  4.823230
12          12           None  title_1  0.677217
13          13             []  title_2  8.961570
14          14  [toy, health]  title_3  7.799550
15          15           None  title_1  3.694195
16          16             []  title_2  7.092430
17          17  [toy, health]  title_3  9.470107
18          18           None  title_1  7.002363
19          19             []  title_2  6.191729
20          20  [toy, health]  title_3  9.519565
21          21           None  title_1  7.051714
22          22             []  title_2  1.356749
23          23  [toy, health]  title_3  9.477949
24          24           None  title_1  9.357703
25          25             []  title_2  2.316398
26          26  [toy, health]  title_3  0.194380
27          27           None  title_1  2.313546
28          28             []  title_2  2.737640
29          29  [toy, health]  title_3  5.752961,
  fkey_col_to_pkey_table={},
  pkey_col=product_id,
  time_col=None)

In [9]:
db.tables["review"]

Table(df=
     customer_id  product_id review_time  rating
0           <NA>           0  1970-01-01       2
1             73          20  1970-01-11       2
2             76          26  1970-01-21       4
3             13          23  1970-01-31       1
4             11           8  1970-02-10       2
..           ...         ...         ...     ...
495            6          10  1983-07-22       5
496         <NA>           0  1983-08-01       1
497           55          21  1983-08-11       5
498           92          19  1983-08-21       2
499           84           2  1983-08-31       4

[500 rows x 4 columns],
  fkey_col_to_pkey_table={'customer_id': 'customer', 'product_id': 'product'},
  pkey_col=None,
  time_col=review_time)

In [10]:
db.tables["customer"]

Table(df=
    customer_id  age  gender
0             0   20    male
1             1   20  female
2             2   29    male
3             3   26  female
4             4   49    male
..          ...  ...     ...
95           95   43  female
96           96   13    male
97           97   22  female
98           98   48    male
99           99   15  female

[100 rows x 3 columns],
  fkey_col_to_pkey_table={},
  pkey_col=customer_id,
  time_col=None)

## LTV

In [16]:
window_size = ds.tasks["ltv"].window_sizes[0]
window_size

Timedelta('364 days 00:00:00')

In [18]:
train_table = ds.make_train_table("ltv", window_size)
train_table

Table(df=
        window_min_time     window_max_time  customer_id       ltv  count
0   1970-01-01 00:00:01 1970-12-31 00:00:01            0  2.313546      1
1   1970-01-01 00:00:01 1970-12-31 00:00:01            1  8.961570      1
2   1970-01-01 00:00:01 1970-12-31 00:00:01            2  0.000000      0
3   1970-01-01 00:00:01 1970-12-31 00:00:01            3  0.000000      0
4   1970-01-01 00:00:01 1970-12-31 00:00:01            5  0.000000      0
..                  ...                 ...          ...       ...    ...
995 1978-12-21 00:00:01 1979-12-20 00:00:01           42  0.000000      0
996 1978-12-21 00:00:01 1979-12-20 00:00:01           61  0.000000      0
997 1978-12-21 00:00:01 1979-12-20 00:00:01           81  0.000000      0
998 1970-01-01 00:00:01 1970-12-31 00:00:01           26  0.000000      0
999 1970-12-31 00:00:01 1971-12-30 00:00:01           95  2.737640      1

[1000 rows x 5 columns],
  fkey_col_to_pkey_table={'customer_id': 'customer'},
  pkey_col=None,
  time_col=window_min_time)

In [19]:
test_table = ds.make_test_table("ltv", window_size)
test_table

Table(df=
       window_min_time window_max_time  customer_id  count
0  1982-04-19 00:00:01      1983-04-18            0      0
1  1982-04-19 00:00:01      1983-04-18            1      0
2  1982-04-19 00:00:01      1983-04-18            2      0
3  1982-04-19 00:00:01      1983-04-18            3      0
4  1982-04-19 00:00:01      1983-04-18            4      0
..                 ...             ...          ...    ...
95 1982-04-19 00:00:01      1983-04-18           98      1
96 1982-04-19 00:00:01      1983-04-18           99      2
97 1982-04-19 00:00:01      1983-04-18           53      0
98 1982-04-19 00:00:01      1983-04-18           59      1
99 1982-04-19 00:00:01      1983-04-18           79      0

[100 rows x 4 columns],
  fkey_col_to_pkey_table={'customer_id': 'customer'},
  pkey_col=None,
  time_col=window_min_time)

## Churn

In [20]:
window_size = ds.tasks["churn"].window_sizes[0]
window_size

Timedelta('364 days 00:00:00')

In [21]:
train_table = ds.make_train_table("churn", window_size)
train_table

Table(df=
        window_min_time     window_max_time  customer_id  churn
0   1970-01-01 00:00:01 1970-12-31 00:00:01            0  False
1   1970-01-01 00:00:01 1970-12-31 00:00:01            1  False
2   1970-01-01 00:00:01 1970-12-31 00:00:01            2   True
3   1970-01-01 00:00:01 1970-12-31 00:00:01            3   True
4   1970-01-01 00:00:01 1970-12-31 00:00:01            4   True
..                  ...                 ...          ...    ...
995 1978-12-21 00:00:01 1979-12-20 00:00:01           95   True
996 1978-12-21 00:00:01 1979-12-20 00:00:01           96   True
997 1978-12-21 00:00:01 1979-12-20 00:00:01           97   True
998 1978-12-21 00:00:01 1979-12-20 00:00:01           98   True
999 1978-12-21 00:00:01 1979-12-20 00:00:01           99   True

[1000 rows x 4 columns],
  fkey_col_to_pkey_table={'customer_id': 'customer'},
  pkey_col=None,
  time_col=window_min_time)

In [22]:
test_table = ds.make_test_table("churn", window_size)
test_table

Table(df=
       window_min_time window_max_time  customer_id
0  1982-04-19 00:00:01      1983-04-18            0
1  1982-04-19 00:00:01      1983-04-18            1
2  1982-04-19 00:00:01      1983-04-18            2
3  1982-04-19 00:00:01      1983-04-18            3
4  1982-04-19 00:00:01      1983-04-18            4
..                 ...             ...          ...
95 1982-04-19 00:00:01      1983-04-18           95
96 1982-04-19 00:00:01      1983-04-18           96
97 1982-04-19 00:00:01      1983-04-18           97
98 1982-04-19 00:00:01      1983-04-18           98
99 1982-04-19 00:00:01      1983-04-18           99

[100 rows x 3 columns],
  fkey_col_to_pkey_table={'customer_id': 'customer'},
  pkey_col=None,
  time_col=window_min_time)